name: WebComponents CI

on:
  push:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"
          cache-dependency-path: "./web-components/package-lock.json"

      - name: Install dependencies
        run: npm ci
        working-directory: ./web-components

      - name: Build
        run: npm run build
        working-directory: ./web-components

      - name: Run Tests
        if: failure() || success()
        run: npm test
        working-directory: ./web-components

      - name: Run Linter
        if: failure() || success()
        run: npm run lint
        working-directory: ./web-components
