name: Deploy doc to GitHub Pages

on:
  push:
    branches:
      - main
      - update-doc-for-github-pages

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "23.7.0"

      - name: Move to webcomponents directory
        run: cd web-components
      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build:doc

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
